<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Distribution</title>
    <link rel="shortcut icon" href="/static/img/icon.png" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body{
            padding-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CoinDis</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{/*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*/}}
                {{/*<li><a href="#">Link</a></li>*/}}
                {{/*<li class="dropdown">*/}}
                    {{/*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>*/}}
                    {{/*<ul class="dropdown-menu">*/}}
                        {{/*<li><a href="#">Action</a></li>*/}}
                        {{/*<li><a href="#">Another action</a></li>*/}}
                        {{/*<li><a href="#">Something else here</a></li>*/}}
                        {{/*<li role="separator" class="divider"></li>*/}}
                        {{/*<li><a href="#">Separated link</a></li>*/}}
                        {{/*<li role="separator" class="divider"></li>*/}}
                        {{/*<li><a href="#">One more separated link</a></li>*/}}
                    {{/*</ul>*/}}
                {{/*</li>*/}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{/*<li><a href="#">Link</a></li>*/}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item list-group-item-success"> Balance: {{.balance}}</li>
    </ul>
</div>

<div class="container">
   <div class="center-align">
       <form>
           <fieldset class="form-group">
               <label for="address">Bitcoin cash address:</label>
               <input type="text" class="form-control" id="address" placeholder="eg: bchtest:qpytyr39fsr80emqh2ukftkpdqvdddcnfg9s6wjtfa">
           </fieldset>
           <fieldset class="form-group">
               <label for="amount">Amount:</label>
               <input type="text" class="form-control" id="amount" placeholder="Max Amount: 0.1">
           </fieldset>
           <a id="sendbtn" class="btn btn-primary">Send</a> &nbsp;&nbsp;&nbsp;<strong id="msg"></strong>
       </form>
   </div>

    <h3>Faucet Address</h3>
    <div>Send coins back, when you don't need them anymore: <strong>{{.addr}}</strong></div>
    <br>
    <div>
        <ul class="list-group txlist">
        {{range $index, $elem := .list}}
            <li class="list-group-item">
                <span class="badge">{{$elem.Amount}}</span>{{$elem.Address}}
            </li>
        {{end}}
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
       <p style="padding-top: 10px; text-align: center"> Github: <a href="https://github.com/qshuai/coindis">https://github.com/qshuai/coindis</a></p>
    </div>
</nav>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/index.js"></script>
</body>
</html>
