appname = coindis
httpport = 9090
runmode = dev

addr = "bchtest:qpytyr39fsr80emqh2ukftkpdqvdddcnfg9s6wjtfa"
limit = 0.1
interval = 86400

[rpc]
url="127.0.0.1"
port="18332"
user="rpc-username"
passwd="rpc-password"

[mysql]
username = mysql-username
password = mysql-password
host = 127.0.0.1
port = 3306
database = faucet
