appname = coindis
httpport = 9090
runmode = dev

token = ""
addr = "bchtest:qrt77hz8slndyem7hhmpn6slqk0dl8zmecrl52j6kn"
limit = 0.1
interval = 86400

[rpc]
url="127.0.0.1"
port="18332"
user="rpc-username"
passwd="rpc-password"

[mysql]
username = mysql-username
password = mysql-password
host = 127.0.0.1
port = 3306
database = faucet

[log]
level = debug
filename = condis
